{% extends 'layout.html' %}
{% set page_context = 'edit_song' %}

{% block title %}
    Edit Song - Music
{% endblock %}

{% block content %}
<h1>Edit Song</h1>
<div class="form">
    <form method="post">
        <div class="mb-3">
            <label for="name">Title:</label>
            <input type="text" id="name" name="name" value="{{ song.name }}" required>
        </div>

        <div class="mb-3">
            <label for="artist_name">Artist:</label>
            <input type="text" id="artist_name" name="artist_name" value="{{ song.artist_name }}" required>
        </div>

        <div class="mb-3">
            <label for="album_name">Album:</label>
            <input type="text" id="album_name" name="album_name" value="{{ song.album_name }}" placeholder="Enter new or select existing" list="existing_albums" required>
            <datalist id="existing_albums">
                {% for album in albums %}
                <option value="{{ album.album_name }}">{{ album.album_name }}</option>
                {% endfor %}
            </datalist>
        </div>

        <div class="mb-3">
            <label for="lyrics">Lyrics:</label>
            <textarea id="lyrics" name="lyrics" rows="10" cols="30" required>{{ song.lyrics }}</textarea>
        </div>

        <div class="mb-3">
            <label for="genre">Genre:</label>
            <select name="genre" id="genre" required>
                {% for genre in genres %}
                <option value="{{ genre.name }}" {% if song.genre == genre.name %}selected{% endif %}>{{ genre.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label for="release_date">Release Date:</label>
            <input type="date" id="release_date" max="{{ nowstring }}" name="release_date" value="{{ song.release_date.strftime('%Y-%m-%d') }}" required>
        </div>

        <div class="mb-3">
            <label for="song_file">Song File:</label>
            <input type="file" id="song_file" name="song_file">
        </div>

        <input type="submit" value="Update" class="btn btn-success">
    </form>
</div>
{% endblock %}

{% block style %}
<style>
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;
        max-width: 500px;
        margin: auto;
        margin-bottom: 100px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .mb-3 {
        width: 100%;
        margin-bottom: 16px;
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    label {
        margin-top: 10px;
    }
    input, textarea, select {
        width: 100%;
        padding: 8px;
        margin-top: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .btn-success {
        width: 100%;
        padding: 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn-success:hover {
        background-color: #218838;
    }
</style>
{% endblock %}
