{% extends 'layout.html' %}
{% set page_context = 'creator' %}

{% block title %}
    Creator-Account
{% endblock %}

{% block content %}
    <div class="heading d-flex justify-content-between align-items-center">        
        <h1>Creator Dashboard</h1>
        <a class="btn btn-success" href="{{ url_for('upload_song') }}">
            Upload Song
        </a>
    </div>

    <!-- Stats Section -->
    <div class="stats-section">
        <div class="stat-box">
            <h3>Total Songs Uploaded</h3>
            <p>{{ total_songs }}</p>
        </div>
        <div class="stat-box">
            <h3> Total Average Ratings</h3>
            <p>{{ avg_rating|round(2) }}</p>
        </div>
        <div class="stat-box">
            <h3>Total Albums</h3>
            <p>{{ total_albums }}</p>
        </div>
    </div>

    <!-- Songs Table -->
    <table class="table">
        <thead>
            <tr>
                <th>Song ID</th>
                <th>Song Name</th>
                <th>Artist Name</th>
                <th>Average Rating</th>
                <th>Genre</th>
                <th>Album</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{song.id}}</td>
                    <td>{{song.name}}</td>
                    <td>{{song.artist_name}}</td>
                    <td>{{ song.average_rating|round(2) }}</td>
                    <td>{{song.genre}}</td>
                    <td>{{song.album_name}}</td>
                    <td>
                        <a href="{{ url_for('edit_song', id=song.id) }}">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('confirm_delete_song', id=song.id) }}" class="btn btn-danger">
                        Delete
                        </a>    
                    </td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}

{% block style %}
<style>
    .heading {
        display: flex;
        justify-content: space-between; /* Aligns items on opposite ends */
        align-items: center; /* Vertically align items in the middle */
        margin-bottom: 20px; /* Optional: Adds some space below the heading */
        margin-top: 20px;
    }
    .stats-section {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .stat-box {
        border: 1px solid #ccc;
        border-radius: 10px;
        width: 300px;
        height: 150px;
        padding: 10px;
        text-align: center;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;            
    }
</style>
{% endblock %}